pkgbase = tron
	pkgdesc = Tiny CLI tool for controlling Lutron Caséta systems
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/tessro/tron
	arch = x86_64
	license = MIT
	makedepends = go
	source = https://github.com/tessro/tron/archive/refs/tags/v1.0.4.tar.gz
	sha256sums = f67805693d4208ea320102c8308e86f33e726dc0fffc5fc8ea9d97bb7e41efc0

pkgname = tron
